@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: aliceblue !important;
}
.a-navbar {
  background-color: bisque;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.a-menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.a-nav-menu {
  background-color: black;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.a-nav-menu.active {
  left: 0;
  transition: 350ms;
}

.a-nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.a-nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  border-radius: 4px;
}

.a-nav-text a:hover {
  background-color: violet;
}

.a-nav-menu-items {
  width: 100%;
}

.a-navbar-toggle {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
span {
  margin-left: 16px;
}
